
<input [(ngModel)]="name">

<div>
  <form #userForm="ngForm">
    {{userForm.value | json}}
    <hr>
    {{userData | json}}
  <div>
    <label>Name: </label>
    <input type="text" name="name" class="form-control" [ngModel] = "userData.name">
  </div>
  <div>
    <label>Email: </label>
    <input type="email" name="email" #email class="form-control" [class.is-invalid]="!email.checkValidity()" [(ngModel)] = "userData.email"> 
  </div>

  <div ngModelGroup="jobRole">
    <div class="form-group">
      <label>Role: </label>
      <input type="email" name="role" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label>Dept: </label>
      <input type="email" name="department" class="form-control" ngModel>
    </div>
  </div>


  <div>
    <label>Mobile Number: </label>
    <input type="number" name="mobile" #mobile class="form-control" ngModel>
    {{mobile.className}}
  </div>
  <div>
    <label>Hobby: </label>
    <input type="number" name="hobby" #hobby class="form-control" [class.is-invalid]="!hobby.checkValidity()" ngModel>
    {{hobby.className}}<br>
    <span>Is data valid: </span>{{hobby.checkValidity()}}
  </div>
  <div>
    <select class="form-select" name="country" ngModel>
      <option selected>Select a country...</option>
      <option *ngFor="let city of cities">
        {{city}}
      </option>
    </select>
  </div>
  </form>
</div>



<router-outlet></router-outlet>
